.battery {
  background-image: url("../img/03-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .fuel__container {
    margin-left: 50%;
    max-width: 530px;
    padding: 60px 90px;
    background: rgba(44, 44, 44, 0.8);

    .fuel__title {
      color: #fff;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 15px;

      @media (max-width: 576px) {
        text-align: center;
        font-size: 24px;
      }
    }

    .fuel__text {
      max-width: 360px;
      color: #cecece;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;

      @media (max-width: 576px) {
        font-size: 18px;
      }
    }

    .fuel__button {
      max-width: 350px;
      padding: 13px 118px;

      @media (max-width: 576px) {
        padding: 9px 63px;
      }
    }

    @media (max-width: 1200px) {
      left: 0;
      margin: 0 auto;
    }

    @media (max-width: 576px) {
      padding: 60px 52px;
    }
  }
}
