.header {
  &-row {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      font-family: "Manrope", sans-serif;
      font-weight: 800;
      line-height: 31px;
      color: #ffffff;
      &:visited {
        color: inherit;
      }
    }

    .logo {
      width: 100px;
      height: 78px;
    }
  }

  &__nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;

      li > a {
        color: #fff;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  &__links {
    &::after {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #fff;
      content: "";
      transition: width 0.3s ease-in;
    }
    &:hover::after,
    &:hover:focus {
      width: 100%;
    }
  }
}

//бургер
.menu__icon {
  display: none;
}

@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    transform: translate(100%, 0);

    .nav__menu ul {
      flex-direction: column;
      align-items: center;
      li {
        padding: 15px 0;
        &:last-child {
          padding-bottom: 0px;
        }
      }
      .header__links {
        font-size: 30px;
        color: azure;
      }
    }
  }

  .header__nav.active {
    transform: translate(0, 0);
  }

  .header {
    &-row {
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      font-size: 30px;
    }
  }

  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
}
