/* Reset and base styles  */
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #dba833;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
  background: #8b6b20;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.app {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.gold {
  color: #dba833;
}

.gratitude {
  background: #dba833;
  color: #fff;
  font-family: Inter;
  text-align: center;
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.gratitude__body {
  position: absolute;
  max-width: 600px;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gratitude__text {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .gratitude__text {
    font-size: 34px;
  }
}

.gratitude__message {
  font-size: 20px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .gratitude__message {
    font-size: 17px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #dba833;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  max-width: 500px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
@media (max-width: 576px) {
  .button {
    max-width: 250px;
  }
}

.button:hover {
  background: #8b6b20;
  transform: scale(1.1);
}