.connection {
  background-image: url("../img/04-background.png");
  background-size: cover;

  .connection__wrapper {
    padding-top: 145px;
    padding-bottom: 158px;

    .connection__title {
      color: #fff;
      font-family: Rubik;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 10px;

      .connection__form {
        .form__body {
          position: relative;
          display: flex;
          gap: 15px;

          input {
            height: 44px;
          }
          .input__phone,
          .input__name {
            max-width: 400px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #fff;
            background: rgba(30, 30, 30, 0.7);
            backdrop-filter: blur(2px);
            text-indent: 10px;
            font-size: 20px;

            &::placeholder {
              transform: translateY(-5%);
              color: #fff;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }

            @media (max-width: 768px) {
              max-width: 100%;
            }
          }

          .input__button {
            position: relative;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #dba833;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 5px;
            border: 2px solid #dba833;
            background: #fff;
            backdrop-filter: blur(2px);
            width: 100%;
          }

          .checkbox {
            color: #fff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          label {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0px;
            top: 40px;

            .text {
              margin-left: 10px;
              color: #000000;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              a {
                font-family: Inter;
                color: #000000;

                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: underline;

                @media (max-width: 768px) {
                  color: #fff;
                }
              }

              @media (max-width: 768px) {
                color: #fff;
              }
            }

            @media (max-width: 768px) {
              bottom: -160px;
              left: 0;
            }
          }

          @media (max-width: 768px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}
